.Imagen {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}

.highlight {
    background-color: rgba(241, 3, 7, 0.2);
    padding: 1rem;
}

.tabulada {
    text-indent: 2em;
}

@media (max-width: 1080px) {
    .Imagen {
        max-height: 400px;
    }
}

@media (max-width: 576px) {
    .Imagen {
        max-height: 300px;
    }
}