header {
    background-color: #232323; 
    padding: 0.3125rem;
    text-align: center;
    color: white;
}

.Hamburgesa .mdi {
    font-size: 2.125rem;
}

.Hamburgesa.btn {
    border: 0.125rem solid white !important; 
}

.Hamburgesa.btn:hover {
    border: 0.125rem solid #FFD700 !important; 
}

.custom-icon {
    color: #FFD700 !important;
}

.Hamburgesa:hover .custom-icon {
    color: white !important;
}

header img {
    max-width: 100%;
    height: auto;
}

.AskartzaMartxa {
    color: #FFD700;
    font-size: 2rem;
    font-weight: 500;
    word-wrap: break-word;
}

.Entradas {
    color: #FFD700;
    font-size: 1.1875rem;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.2rem;
}

.btn-custom {
    background-color: #B02229 !important;
}

.btn:hover .Entradas {
    color: white;
}

/* Media queries para dispositivos de diferentes tamaños */
@media (max-width: 1024px) {
    .AskartzaMartxa {
        font-size: 1.5rem;
    }
    .Entradas {
        font-size: 1rem;
    }
    .Hamburgesa .mdi {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .AskartzaMartxa {
        font-size: 1.2rem;
    }
    .Entradas {
        font-size: 1rem;
    }
    .Hamburgesa .mdi {
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) {
    .AskartzaMartxa {
        font-size: 1rem;
    }
    .Entradas {
        font-size: 0.7rem;
    }
    .Hamburgesa .mdi {
        font-size: 1.5rem;
    }
}
