.MenuVertical {
    background-color: #232323;
    color: white;
    position: fixed;
    top: 0;
    /* min-height: 100vh; Hace que ocupe al menos la altura completa de la pantalla */
    right: 0;
    width: 30%;
    z-index: 1;
    height: 100%; /*DUDA PONGO 100% o que ocupe solo el contenido  que tiene */
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.Texto {
    text-align: justify;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 0.5rem;
}

.LogoVuelta {
    font-size: 2rem;
    /* Tamaño ligeramente más pequeño */
    color: white !important;
}

.LogoVuelta:hover {
    color: #FFD700 !important;
}

.oculto {
    display: none;
}

.visible {
    display: block;
}

.col-2 {
    display: center;
    justify-content: center;
}


/* Estilos específicos para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .MenuVertical {
        width: 30%;
    }
}

@media (max-width: 1080px) {
    .MenuVertical {
        width: 40%;
    }

    .Texto {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .MenuVertical {
        width: 100%;
    }

    .Texto {
        font-size: 1rem;
    }

    .LogoVuelta {
        font-size: 2rem;
    }

}