.MenuVertical {
    background-color: #232323;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    z-index: 3;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.Texto {
    text-align: justify;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    overflow-wrap: break-word;
}

.LogoVuelta {
    font-size: 2rem;
    color: white !important;
}

.LogoVuelta:hover {
    color: #FFD700 !important;
}

.oculto {
    display: none;
}

.visible {
    display: block;
}

.col-2 {
    display: center;
    justify-content: center;
}

/* Estilos específicos para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .MenuVertical {
        width: 30%;
    }
}

@media (max-width: 1080px) {
    .MenuVertical {
        width: 40%;
    }

    .Texto {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .MenuVertical {
        width: 100%;
    }

    .Texto {
        font-size: 1rem;
    }

    .LogoVuelta {
        font-size: 2rem;
    }
}