footer {
    background-color: black;
    text-align: center;
    color: white;
}

.Titulo {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    word-wrap: break-word;
}

.IconoUbicacion,
.IconoMail {
    font-size: 1.5em;
}

.TextoUbicacion,
.TextoMail {
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    word-wrap: break-word;
}

.LogoInstagram,
.LogoTwitter,
.LogoFacebook {
    font-size: 2.5rem;
    color: white !important;
}

.Avisos {
    font-size: 0.8rem;
    font-weight: 400;
    word-wrap: break-word;
}

.Copyright {
    font-size: 0.7rem; 
    font-weight: 700;
    word-wrap: break-word;
}

@media (max-width: 1200px) {
    .Titulo {
        font-size: 1.1em;
    }
    .IconoUbicacion,
    .IconoMail {
        font-size: 1.4em;
    }
    .TextoUbicacion,
    .TextoMail {
        font-size: 0.75rem;
    }
    .LogoInstagram,
    .LogoTwitter,
    .LogoFacebook {
        font-size: 2.3rem;
    }
    .Avisos {
        font-size: 0.75rem;
    }
    .Copyright {
        font-size: 0.65rem;
    }
    .mb-between-rows {
        margin-top: 1.5rem;
    }
    .text-start.text-sm-center {
        text-align: center !important;
    }
}

/* Estilos para diferentes tamaños de pantalla */
@media (max-width: 1080px) {
    /* Ajustes para dispositivos medianos y pequeños */
    .Titulo {
        font-size: 1em;
        text-align: center;
    }
    .IconoUbicacion,
    .IconoMail {
        font-size: 1.3em;
    }
    .TextoUbicacion,
    .TextoMail {
        font-size: 0.7rem;
        text-align: center;
    }
    .LogoInstagram,
    .LogoTwitter,
    .LogoFacebook {
        font-size: 2rem;
    }
    .Avisos {
        font-size: 0.7rem;
    }
    .Copyright {
        font-size: 0.6rem;
    }
    .mb-between-rows {
        margin-top: 2rem; 
    }
    .text-start.text-sm-center {
        text-align: center !important;
    }
}

@media (max-width: 576px) {
    /* Ajustes para dispositivos pequeños */
    .Titulo {
        font-size: 0.9em;
    }
    .IconoUbicacion,
    .IconoMail {
        font-size: 1.1em;
    }
    .TextoUbicacion,
    .TextoMail {
        font-size: 0.6rem;
    }
    .LogoInstagram,
    .LogoTwitter,
    .LogoFacebook {
        font-size: 1.8rem;
    }
    .Avisos {
        font-size: 0.6rem;
    }
    .Copyright {
        font-size: 0.5rem;
    }
    .mb-between-rows {
        margin-top: 2rem;
    }
    .text-start.text-sm-center {
        text-align: center !important;
    }
}
